packages/node-red-app/src/node-red/settings/flows.json
[{"type":"tab","id":"a0c6827e.5f398","label":"Sheet 1"},{"id":"ad9c4233.5263c","type":"subflow","name":"Nearest Beacons","in":[{"x":107,"y":82,"wires":[{"id":"fe72dac6.018d28"}]}],"out":[{"x":601,"y":141,"wires":[{"id":"9af6d3f8.65093","port":0}]}]},{"id":"149d6257.eb629e","type":"mongodb","hostname":"ds041043.mongolab.com","port":"41043","db":"IbmCloud_ijphgk5e_e8i5c0aj","name":"Bluemix-Mongolab"},{"id":"999c5e03.6663a","type":"mqtt-broker","broker":"m11.cloudmqtt.com","port":"11598","clientid":""},{"id":"9af6d3f8.65093","type":"mongodb in","service":"_ext_","mongodb":"149d6257.eb629e","name":"Get nearest beacons","collection":"beacons","operation":"find","x":406,"y":198,"z":"ad9c4233.5263c","wires":[[]]},{"id":"fe72dac6.018d28","type":"function","name":"Format","func":"msg.payload = {\n     location:\n       { \"$near\" :\n          {\n            \"$geometry\": { type: \"Point\",  \n            coordinates: [msg.payload[1],msg.payload[0]], \n            \"$maxDistance\":10000\n            }\n          }\n       }\n};\nmsg.limit = 2;\nreturn msg;","outputs":1,"noerr":0,"x":232,"y":149,"z":"ad9c4233.5263c","wires":[["9af6d3f8.65093"]]},{"id":"ab9d92c8.54627","type":"subflow:ad9c4233.5263c","name":"","x":425.5,"y":570,"z":"a0c6827e.5f398","wires":[["f1762f71.0e89d","8cfaa259.73056","2f8ca387.d0735c"]]},{"id":"f1762f71.0e89d","type":"debug","name":"","active":true,"console":"false","complete":"false","x":605.5,"y":517,"z":"a0c6827e.5f398","wires":[]},{"id":"33ea5826.cc15a8","type":"function","name":"Format","func":"msg.payload = [\n    parseFloat(msg.payload.latitude),\n    parseFloat(msg.payload.longitude)\n    ];\nreturn msg;","outputs":1,"noerr":0,"x":231.5,"y":621,"z":"a0c6827e.5f398","wires":[["ab9d92c8.54627","6220ab5e.9ddf54"]]},{"id":"8cfaa259.73056","type":"mqtt out","name":"","topic":"debug","qos":"0","retain":"false","broker":"999c5e03.6663a","x":588.5,"y":638,"z":"a0c6827e.5f398","wires":[]},{"id":"fdb4d83a.024b28","type":"http in","name":"Get beacons","url":"/beacon","method":"get","swaggerDoc":"","x":69.5,"y":491,"z":"a0c6827e.5f398","wires":[["33ea5826.cc15a8"]]},{"id":"6220ab5e.9ddf54","type":"debug","name":"","active":true,"console":"false","complete":"false","x":400.5,"y":687,"z":"a0c6827e.5f398","wires":[]},{"id":"2f8ca387.d0735c","type":"http response","name":"","x":658.5,"y":589,"z":"a0c6827e.5f398","wires":[]}]